body{
    margin: 0;
    overflow: hidden;
    background-color:darkgray;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mycanvas{
    background: lightgray;
}